---
layout: /layout/categoryTemplate.njk
title: "cat1"
items:
  - type: "file"
    name: "stuff copy.md"
    path: "/cat1/stuff copy.html"
  - type: "file"
    name: "stuff.md"
    path: "/cat1/stuff.html"
---
